In [118]:
from geopy.geocoders import Nominatim
geoLoc = Nominatim(user_agent="GetLoc")

In [119]:
import pandas as pd

In [120]:
aed=pd.read_excel('AEDcurrent.xlsx', sheet_name='Sheet1')
aed.head()

  Postal Code  Latitude  Longtitude
0      498770  1.352654  103.973217
1      680486  1.375489  103.738288
2      680752  1.392346  103.747409
3      680754  1.392310  103.746518
4      680756  1.392493  103.745591

In [121]:
aed["geom"] = aed["Latitude"].map(str) + ',' + aed["Longtitude"].map(str)

In [122]:
aed.head()

  Postal Code  Latitude  Longtitude                 geom
0      498770  1.352654  103.973217  1.352654,103.973217
1      680486  1.375489  103.738288  1.375489,103.738288
2      680752  1.392346  103.747409  1.392346,103.747409
3      680754  1.392310  103.746518   1.39231,103.746518
4      680756  1.392493  103.745591  1.392493,103.745591

In [123]:
len(aed.geom)

9880

In [124]:
aed["location"]=""

In [136]:
import time
start_time = time.time()

In [137]:
for x in range(len(aed.geom)):
    aed.location[x] = geoLoc.reverse(aed.geom[x])

<ipython-input-137-652e90aac269>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aed.location[x] = geoLoc.reverse(aed.geom[x])

In [138]:
print("--- %s seconds ---" % (time.time() - start_time))

--- 5075.347939014435 seconds ---

In [139]:
aed

,Postal Code,Latitude,Longtitude,geom,location
0,498770,1.352654,103.973217,"1.352654,103.973217","(Zuellig Pharma, 15, Changi North Way, Changi ..."
1,680486,1.375489,103.738288,"1.375489,103.738288","(486, Choa Chu Kang Avenue 5, Choa Chu Kang, S..."
2,680752,1.392346,103.747409,"1.392346,103.747409","(Blk 752, Choa Chu Kang North Park Connector, ..."
3,680754,1.392310,103.746518,"1.39231,103.746518","(Blk 754, Choa Chu Kang North Park Connector, ..."
4,680756,1.392493,103.745591,"1.392493,103.745591","(Blk 756, Choa Chu Kang North Park Connector, ..."
...,...,...,...,...,...
9875,058929,1.282010,103.844418,"1.28201,103.844418","(15, Smith Street, Chinatown, Outram, Singapor..."
9876,218935,1.314315,103.852750,"1.314315,103.852750","(136, Owen Road, Farrer Park Gardens, Kallang,..."
9877,529903,1.341709,103.953151,"1.341709,103.953151","(Simei Street 3, Simei, Southeast, 520253, Sin..."
9878,529903,1.341856,103.953814,"1.341856,103.953814","(Opposite Simei Station, Simei Street 3, Tampi..."
9879,238874,1.303164,103.834060,"1.303164,103.834060","(Ngee Ann City, 391, Orchard Road, Orchard, Si..."

In [142]:
aed2=pd.read_csv("AEDaddress.csv")

In [143]:
aed2

,Unnamed: 0,Postal Code,Latitude,Longtitude,geom,location
0,0,498770,1.352654,103.973217,"1.352654,103.973217","Zuellig Pharma, 15, Changi North Way, Changi N..."
1,1,680486,1.375489,103.738288,"1.375489,103.738288","486, Choa Chu Kang Avenue 5, Choa Chu Kang, Si..."
2,2,680752,1.392346,103.747409,"1.392346,103.747409","Blk 752, Choa Chu Kang North Park Connector, C..."
3,3,680754,1.392310,103.746518,"1.39231,103.746518","Blk 754, Choa Chu Kang North Park Connector, C..."
4,4,680756,1.392493,103.745591,"1.392493,103.745591","Blk 756, Choa Chu Kang North Park Connector, C..."
...,...,...,...,...,...,...
9875,9875,058929,1.282010,103.844418,"1.28201,103.844418","15, Smith Street, Chinatown, Outram, Singapore..."
9876,9876,218935,1.314315,103.852750,"1.314315,103.852750","136, Owen Road, Farrer Park Gardens, Kallang, ..."
9877,9877,529903,1.341709,103.953151,"1.341709,103.953151","Simei Street 3, Simei, Southeast, 520253, Sing..."
9878,9878,529903,1.341856,103.953814,"1.341856,103.953814","Opposite Simei Station, Simei Street 3, Tampin..."
9879,9879,238874,1.303164,103.834060,"1.303164,103.834060","Ngee Ann City, 391, Orchard Road, Orchard, Sin..."